:root {
  --snack-color-white: #ffffff;

  --snack-color-gray-10: #f7f5f5;
  --snack-color-gray-20: #edebeb;
  --snack-color-gray-30: #d9d7d7;
  --snack-color-gray-40: #bdbbbb;
  --snack-color-gray-50: #999493;
  --snack-color-gray-70: #5c5554;
  --snack-color-gray-90: #2e1515;

  --snack-color-system-error: #ff3b30;
  --snack-color-system-normal: #007aff;

  --snack-color-category-chocolate: #ff7474;
  --snack-color-category-chocolate-text: #b32828;
  --snack-color-category-pie: #f6e33b;
  --snack-color-category-pie-text: #9d8a00;
  --snack-color-category-biscuit: #37e44e;
  --snack-color-category-biscuit-text: #008b00;
  --snack-color-category-bag: #55bbff;
  --snack-color-category-bag-text: #096fb3;
  --snack-color-category-candy-gum: #a477ff;
  --snack-color-category-candy-gum-text: #6437bf;
  --snack-color-category-jelly: #ff8ee7;
  --snack-color-category-jelly-text: #b3429b;

  --snack-color-taste-sweet: #ff64a7;
  --snack-color-taste-sour: #56c110;
  --snack-color-taste-salty: #00accf;
  --snack-color-taste-spicy: #e62626;
  --snack-color-taste-bitter: #622616;
  --snack-color-taste-rich: #c0a000;

  --snack-button-radius: 0;
  --snack-button-height-sm: 2.25rem;
  --snack-button-height-md: 2.75rem;
  --snack-button-height-lg: 3.25rem;
  --snack-button-size-icon: 2.75rem;
  --snack-button-min-width-full: 21.5rem;
  --snack-button-action-group-max-width: 21.5rem;
  --snack-button-padding-inline-sm: 0.875rem;
  --snack-button-padding-inline-md: 1.25rem;
  --snack-button-padding-inline-lg: 1.5rem;
  --snack-button-gap-sm: 0.375rem;
  --snack-button-gap-md: 0.5rem;
  --snack-button-gap-lg: 0.625rem;
  --snack-button-action-group-gap-single: 0.75rem;
  --snack-button-action-group-gap-dual: 0.5rem;
  --snack-button-icon-sm: 1rem;
  --snack-button-icon-md: 1.25rem;
  --snack-button-icon-lg: 1.5rem;
}
